* {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  font-size: 100%;
}

figure {
  height: 100%;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

main {
  border: 1px solid black;
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 6fr 1fr;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  word-wrap: wrap;
  grid-template-areas:    
    "nav section"
    "footer footer";
}

#user-nav {
  grid-area: nav;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#user-nav > * {
  padding: 10px;
  margin-left: 10px;
}

#playlist-container {
  grid-area: section;
  background: #111;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: scroll;
  grid-template-rows: 1fr;
}

#playback-ui {
  background: #222;
  grid-area: footer;
  display: grid;
  grid-template-columns: 280px 3fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}

#current-song {
  display: grid;
  grid-template-columns: 75px 120px 25px;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

#album-art {
  background: url('https://images-na.ssl-images-amazon.com/images/I/41bw59LF02L._SS500.jpg');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

i {
  font-size: 14px;
}

.icon-big {
  font-size: 32px;
}

footer > * {
  border: 1px solid green;
}

#song-name {
  font-size: 15px;
}

#song-artist {
  font-size: 11px;
  color: #AAA;
}

#song-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#song-detail > detail {
  padding: 2px;
}

#playlist-detail-container {
  display: grid;
  grid-template-rows: 2fr 2.5fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

#playlist-art {
  background: url('https://images-na.ssl-images-amazon.com/images/I/41bw59LF02L._SS500.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: contain;
  /* margin-top: 20px; */
}

#playback-controls-container {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 50px 20px;
  align-items: center;
  justify-items: center;
}

#playback-controls {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  align-items: center;
}

#song-seek {
  margin: 5px;
  width: 400px;
}

#volume-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-name {
  font-size: 26px;
}

button {
  padding: 5px;
  width: 120px;
  border-radius: 20px;
  background: #00E155;
  color: white;
  border: none;
}

.playlist-creator {
  font-size: 14px;
  color: #AAA;
  margin-top: -20px;
  letter-spacing: 0.25px;
}

.playlist-remove {
  font-size: 10px;
  color: green;
}

.playlist-created {
  color: #AAA;
  font-size: 12px;
  letter-spacing: 1px;
}

.spotify-logo {
  font-size: 30px;
}

#playlist-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#playlist-detail > * {
  padding: 15px;
}